@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#error {
    color: red;
}

body{
    font-family: 'Montserrat', 'Arial'
}

button{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background-color: #043efd ;
    border-radius: 20px;
    margin:0 0.3em 0.3em 0;
    text-decoration:none;
    font-weight:300;
    color:#ffffff;
    text-align:center;
    outline: none;
}

ul {
    list-style: square outside none;
  }
